body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e0f7fa, #80deea);
    color: #004d40;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 77, 64, 0.8);
    padding: 1em;
    text-align: center;
    z-index: 1000;
}

.main-header h1 {
    margin: 0;
    color: #ffffff;
}

.main-header nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
}

.content {
    padding: 100px 20px; /* Adjust for fixed header */
    text-align: center;
}

.about-container, .materials-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.about-text, .materials-text {
    flex: 1;
    margin-right: 20px;
}

.futuristic-image {
    border-radius: 20px;
    width: 100%;
    max-width: 400px; /* Adjust image size */
}

h2 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #00695c;
}

.button {
    background: #00695c;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #004d40;
    color: #ffffff;
}